<p id="notice"><%= notice %></p>

<h1>Yoncégram</h1>
<br>
<%= link_to 'ADD NEW PHOTO', new_photo_path %>
<br>
<br>
  <tbody>

  <% @photos.each do |photo| %>
      <br>
      <h4><%= photo.title %></h4>
      <p><%= image_tag photo.image, width: '300' %> </p>
      <p><em> posted by <strong><%= photo.user.email %> </strong></em></p>
      <div class="photo_links">
        <%= link_to 'Show', photo %>
      <% if photo.user.email == current_user.email %>
        <%= link_to 'Edit', edit_photo_path(photo) %>
        <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
        <br>
        <br>

      <% end %>
      <hr>
  <% end %>
  </tbody>



